# Shared Configuration
NETUID=2
SUBTENSOR_NETWORK=local
ETH_RPC_URL=https://lb.drpc.live/ethereum/Auqt09rhqkw_pIYVQr9B-jk8RgZzA1YR8bOqehXRfUMv
ETH_PRIVATE_KEY=your_private_key_here

# Platform Service
POSTGRES_PASSWORD=postgres
PLATFORM_HOST=0.0.0.0
PLATFORM_PORT=8000
PLATFORM_WALLET_NAME=default
PLATFORM_WALLET_HOTKEY=default

# Validator Configuration
VALIDATOR_WALLET_NAME=validator
VALIDATOR_HOTKEY=default
VALIDATOR_AXON_PORT=8901

# Miner Configuration
MINER_WALLET_PREFIX=miner_
MINER_HOTKEY=default
MINER_START_PORT=8902
ENGINE_TYPE=remote
ENGINE_PORT=9000
