# Shared Configuration
NETUID=31
SUBTENSOR_NETWORK=test

# Platform Service
POSTGRES_PASSWORD=postgres
PLATFORM_HOST=0.0.0.0
PLATFORM_PORT=8000
PLATFORM_URL=http://platform:8000
PLATFORM_WALLET_NAME=default
PLATFORM_WALLET_HOTKEY=default
# Note: Platform service requires a wss:// provider for block subscriptions.


# Validator Configuration
VALIDATOR_1_ETH_RPC_URL=
VALIDATOR_1_ETH_PRIVATE_KEY=

VALIDATOR_2_ETH_RPC_URL=
VALIDATOR_2_ETH_PRIVATE_KEY=

VALIDATOR_3_ETH_RPC_URL=
VALIDATOR_3_ETH_PRIVATE_KEY=

# Miner Configuration
MINER_1_ETH_RPC_URL=

MINER_2_ETH_RPC_URL=

MINER_3_ETH_RPC_URL=

MINER_4_ETH_RPC_URL=

MINER_5_ETH_RPC_URL=

MINER_6_ETH_RPC_URL=

MINER_7_ETH_RPC_URL=

MINER_8_ETH_RPC_URL=

MINER_9_ETH_RPC_URL=

MINER_10_ETH_RPC_URL=
